$gradient-0: (hsla(19, 94%, 68%, 0.7), hsla(8, 93%, 54%, 0.69));
$gradient-1: (rgb(250, 145, 97), rgb(247, 59, 28));
$gradient-2: (rgb(250, 222, 97), rgb(247, 160, 28));
$gradient-3: (rgb(71, 228, 193), rgb(7, 205, 221));

%card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border-radius: 8px;
  width: clamp(304px, 65%, 1024px);
  height: clamp(365px, 50%, 80%);
  padding: 24px;
  overflow: hidden;
  box-shadow: 0 0 8px 2px hsla(0, 0%, 67%, 0.4);
}
.card-idle {
  @extend %card;
  background-image: linear-gradient(to bottom, $gradient-0);
}
.card-false {
  @extend %card;
  background-image: linear-gradient(to bottom, $gradient-1);
}
.card-almost {
  @extend %card;
  background-image: linear-gradient(to bottom, $gradient-2);
}
.card-correct {
  @extend %card;
  background-image: linear-gradient(to bottom, $gradient-3);
}
